*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 1em;
}
.page {
    width: 80%;
    margin: auto;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10%;
    width: 100%;
    align-items: baseline;
    border-bottom: 2px solid;
    background-color: white;
}
header ul {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
}
header ul li{
    margin-right: 1em;
}
main {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
aside {
    left: 10px;
    top: 50px;
    width: 30%;
    height: 100vh;
    position: fixed;
}
aside form {
    margin-top: 1em;
}
#demo {
    margin-left: 20%;
}
dl {
    margin: 1em;
}
dt {
    font-size: 1.2em;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0.6em;
}
dd {
    margin-bottom: 2em;
}

/* Quiz */
#quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quiz-card {
    padding: 2em;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.quiz-card h3{
    margin-top: 1em;
    margin-bottom: 1em;
}
.quiz-card input[type=radio] {
    margin-bottom: 1em;
    margin-right: 0.5em;
}
#startQuiz, 
.quiz-card button {
    display: block;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em 1em;
    margin: 1em;
}

