*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.page {

}
header {
    align-items: baseline;
    border-bottom: 2px solid;
    list-style: none;
    margin-left: 1em;
    margin-right: 1em;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    width: 100%;
}
header a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding-top: 1em;
    padding-left: 0.3em;
}
header a,
header a:visited,
header a:hover {
    color: black;
}
header .active-link a{
    background-color: hotpink;
    color: white;
}
main {
    margin-top: 50px;
    justify-content: center;
    display: flex;
}
aside {
    margin: 1em;
}
aside form {
    
}
#demo {

}
dl {
    margin: 1em;
}
dt {
    font-size: 1.2em;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0.6em;
}
dd {
    margin-bottom: 2em;
}

/* Quiz */
#quiz {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.quiz-card {
    padding: 2em;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.quiz-card h3{
    margin-top: 1em;
    margin-bottom: 1em;
}
.quiz-card input[type=radio] {
    margin-bottom: 1em;
    margin-right: 0.5em;
}
#startQuiz, 
.quiz-card button {
    display: block;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em 1em;
    margin: 1em;
}
.question-count {
    font-size: 0.8em;
}
/* Flash cards */
.answer {
    opacity: 0;
}
.show-answer {
    opacity: 1;
    transition: all 0.5s;
}
.flash-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width:90%;
    border: 2px solid #ccc;
}
.flash-card h3{
    margin: 1em;
    text-align: center;
}
.flash-card div{
    margin: 1em;
}
.flash-card button {
    display: block;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 1em;
    margin-top: 1em;
    cursor: pointer;
    background-color: #777;
    color: white;
}
.flash-card button:hover {
    color: black;
    background-color: #ccc;
    transition: all 1s;
}
#flash-card {
    position: relative;
    display: flex;
}
#flash-card .next-button {
    z-index: 5000;
    padding: 0 1em;
    order: 3;
    border-radius: 0 10px 10px 0;
    background-color: white;
    border: none;
    cursor: pointer;
}
#flash-card .prev-button {
    z-index: 5000;
    padding: 0 1em;
    order: 1;
    border-radius: 10px 0 0 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}
#flash-card .flash-card {
    order: 2;
}

#flash-card .next-button:hover,
#flash-card .prev-button:hover {
    background-color: rgb(0, 0, 0, 0.2);
    transition: all 1s;
}

/* About */
#random-gif {
    width: 80%;
    margin: auto;
}
